<footer class="mastfoot mt-auto">
  <div class="inner">
    <p><%= copyright_generator %></p>
    <%= link_to image_tag('https://www.codewars.com/users/Robson_Peacock/badges/large', class: 'float-left'), 'https://www.codewars.com/users/Robson_Peacock', target: '_blank' %>
  </div>
</footer>
