<footer class="mastfoot mt-auto app-footer">
  <div class="inner text-center">
    <p><%= copyright_generator %></p>
    <%= link_to image_tag('https://www.codewars.com/users/Robson_Peacock/badges/large'), 'https://www.codewars.com/users/Robson_Peacock', target: '_blank' %>
  </div>
</footer>
