<footer class="blog-footer">
  <p>
    <%= copyright_generator %>
  </p>
  <p>
    <a href="#">Back to top</a>
  </p>
    <div class="d-inline-block">
      <%= link_to image_tag('https://www.codewars.com/users/muhammad-anas-2/badges/large', class: 'float-left'), 'https://www.codewars.com/users/muhammad-anas-2', target: '_blank' %>
    </div>
</footer>
