<div class="bg-primary">
  <div class="container">
    <nav class="navbar navbar-light">
      <%= nav_helper 'nav-link text-white', 'span' %>
      <%= login_helper 'nav-link text-white' %>
    </nav>
  </div>
</div>
