<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to 'View all Portfolios', portfolios_path %> |
      <a href="#">Back to top</a>
    </p>
    <p>
      <%= copyright_generator %>
    </p>
    <%= link_to image_tag('https://www.codewars.com/users/Robson_Peacock/badges/large', class: 'float-left'), 'https://www.codewars.com/users/Robson_Peacock', target: '_blank' %>
  </div>
</footer>
