<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Ambitious and self motivated individual with a high attention to detail.
      Highly value self improvement and progression. Strive to create dynamic and adaptable solutions.
      Experience with the implementation of user interfaces, testing, and debugging processes.
      Equipped with a diverse and promising skill-set. Proficient in a wide range of technologies,
      including HTML5, CSS3, Bootstrap 4, JavaScript, JQuery, Ruby, Ruby on rails, AJAX, MySQL.
      Thrive to work collaboratively in a team but able to effectively self-manage
      during independent projects.</p>
    <p>
      <%= link_to 'Find out more about me', about_path, class: 'btn btn-primary my-2' %>
      <%= link_to 'My blog', blogs_path, class: 'btn btn-secondary my-2' %>
    </p>
  </div>
</section>
