<h1>About Me</h1>
<p>I am an ambitious and self motivated individual with a high attention to detail.
  Highly value self improvement and progression. Strive to create dynamic and adaptable
  solutions. Experience with the implementation of user interfaces, testing, and debugging processes.
  Equipped with a diverse and promising skill-set.</p>
